/*Toujours faire ça ! Remet à zero pour tous les navigateurs*/
body, div, h1,fieldset,ul{
    margin:0;
    padding:0;
    border:0;
    outline:none;
}
/*On centre le body sur la page*/
body{
    background-color: AliceBlue;
    margin: 0 auto;
    width:960px;
}
/*On modifie l'apparence du textarea contenant le tchat*/
#tchat{
    background-color: Azure;
    border-radius: 10px 0 10px 0;
    /*box-shadow: inset -2px -2px 5px #AAA;*/
}
#message{
    background-color: Azure;
}

/*On modifie tous les input text et password*/
.in_{
    background-color: Azure;
    border-radius: 5px;
    margin: 2px 0 2px 0;
}
/*On modifie les titre de chaque partie*/
p{
    font-weight: bold;
}
/*On modifie tous les labels dans les formulaires pour de la mise en forme*/
label{
    display: block;
    width: 125px;
    float: left;
}
/*On modifie l'apparence des boutons*/
.bout{
    width:100px;
    height:25px;
    float: right;
}
/*Empêche les boutons lorsque l'on est co d'être mal placer*/
.bout2{
    float:none;
}

.useless{
    clear: both;
}
/*Modifie la taille des form page accueil*/
#connex, #inscription{
    width:300px;
}
#titi{
    margin:5px 0 2px 0;
}
.toto{
    margin:2px 0 2px 0;
}
/*On prévient l'utilisateur des erreurs lors de l'inscription et de la connexion*/
#error{
    color:red;
}
/*.smiley{
    border: 1px solid grey;
}*/

ul{
    list-style: none;
}

li{
    height: 55px;
    width: 50px;
    float: left;
}